.blog_navigation_buttons{
    display: flex;
    justify-content: space-between;
}

.blog_navigation_buttons .older_posts{

}

.blog_navigation_buttons .newer_posts{
    align: right;
}

.blog_navigation_buttons .spacer{
    flex: 1;
