.blog_navigation_buttons{
    display: flex;
    justify-content: space-between;
}

    .blog_navigation_buttons button{
        margin: 0px 10px;
    }

.blog_navigation_buttons .older_posts{
}

.blog_navigation_buttons .newer_posts{
    align: right;
}

.blog_navigation_buttons .spacer{
    flex: 1;
}

/* We want to hide the search panel button except for where */
/* we explicitly want to show it. */
.open_search{
    display: none;
}
.include_search .open_search{
    display: initial;
}
