body {background-color:#000000;background-image:url('noisygrad.png');background-repeat:repeat-x;
color:#0066CC;font-size:100%;font-family:"Verdana", Sans-serif;}
a:link {color:#269900;text-decoration:none;}   
a:visited {color:#739900;text-decoration:none;}  
a:hover {color:#990026;text-decoration:underline;} 
a:link.post {color:#003CF0;text-decoration:none;}   
a:visited.post {color:#2D00B3;text-decoration:none;}  
a:hover.post {color:#269900;text-decoration:underline;} 

.logo{
    text-align: center;
}

div.textsection {
  border-style:solid;
  border-width:1px;
  border-color:#007399;
  background-color:rgba(0,0,0,.75);
  margin:10px;
  padding:15px;
}

    div.textsection img{
    	max-width: 100%;
    }

div.center{
 width:50%;
 min-width: 25em;
 margin-left:auto;
 margin-right:auto; 
}

/* Default Button Styles */
button{
    border-style: solid;
    border-width: 1px;
    border-color: #007399;
    background-color: rgba(0,0,0,.75);
    color: #AAAAAA;
    padding: 5px; 
}

button:hover:enabled{
    color: #BBDDFF; 
    border-color: #AA7399;
    text-shadow: 0 0 2px #BBDDFF, 0 0 4px #FFFFFF;
    transition: all 1.5s;
}
button:not(hover):enabled{
    color: #AAAAAA;
    border-color: #007399;
    transition: all 1.5s;
}
/*
#2D00B3 - purplish blue
#003CF0 - darker blue
#007399 - aqua
#0066CC - lighter blue
#269900 - green
#990026 - red
#990073 - magenta
#739900 - olive
*/
