<div data-ng-controller="BlogPageCtrl">
    <div class="textsection">
        <h3>{{post.title}}</h3>
        <p>{{post.author}} - {{post.date}}</p>
        <br />
        <div data-ng-bind-html="post.entry"></div>
        <br />
        <br />
        <p>---</p>
        <div>
            <span>Keywords:</span>
            <span data-ng-repeat="keyword in post.keywords"> <i>{{keyword}}</i></span>
        </div>
    </div>
    <h4>Comments:</h4>
    <div class="textsection">
        <b>Scratch Words in the Sand:</b><br />
        <label for="titlefield">Title</label>
        <input type="text" id="titlefield" data-ng-model="newcomment.title"></input><br />
        <label for="namefield">Name</label>
        <input type="text" id="namefield" data-ng-model="newcomment.name"></input><br />
        <br />
        <span>Enter your comment</span><br />
        <textarea data-ng-model="newcomment.text"></textarea><br />
        <button data-ng-click="postComment()">Post</button>
    </div>
    <div class="textsection" data-ng-repeat="comment in comments">
        <b>{{comment.title}}</b><br />
        <span>{{comment.author}} - {{comment.date}}</span>
        <p>{{comment.text}}</p>
    </div>
</div>
