<div data-ng-controller="BlogCtrl">
    <!-- <span data-ng-click="nextPage()">Older Posts</span>|<span data-ng-click="prevPage()">Newer Posts</span> -->
    <button data-ng-click="nextPage()">Older Posts</button>
    <button data-ng-click="prevPage()">Newer Posts</button>
    <div class="textsection" data-ng-repeat="post in getPagePosts()">
        Title: {{post.title}}<br>
        Date: {{post.date}}<br>
        Author: {{post.author}}<br>
        <br>
        {{post.entry}}<br>
    </div>
</div>
