<div data-ng-controller="BlogPageCtrl">
    <div class="textsection">
        <h3>{{post.title}}</h3>
        <p>{{post.author}} - {{post.date}}</p>
        <br />
        <div data-ng-bind-html="post.entry"></div>
        <br />
        <br />
        <p>---</p>
        <div>
            <span>Keywords:</span>
            <span data-ng-repeat="keyword in post.keywords"> <i>{{keyword}}</i></span>
        </div>
    </div>
    <h4>Comments:</h4>
    <div class="textsection" data-ng-repeat="comment in comments">
        <b>{{comment.title}}</b><br />
        <span>{{comment.author}} - {{comment.date}}</span>
        <p>{{comment.text}}</p>
    </div>
</div>
