<div id="blog_view_container" data-ng-controller="BlogCtrl">
    <div id="blog_navigation_buttons">
        <button id="older_posts" data-ng-click="nextPage()" data-ng-show="!isOldestPage()">Older Posts</button>
        <span class="spacer"></span>
        <button id="newer_posts" data-ng-click="prevPage()" data-ng-show="!isNewestPage()">Newer Posts</button>
    </div>
    <div class="textsection" data-ng-repeat="post in getPagePosts()">
        <h3><a class="post" href="#/blog/{{post.id}}">{{post.title}}</a></h3>
        <p>{{post.author}} - {{post.date}}</p>
        <br />
        <div data-ng-bind-html="post.entry"></div>
        <br />
        <span><a href="#/blog/{{post.id}}#comments">{{getCommentCountText(post)}}</span>

    </div>
</div>
